USE [master]
GO
/****** Object:  Database [sport]    Script Date: 14.06.2022 12:54:01 ******/
CREATE DATABASE [sport]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sport', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sport.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sport_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sport_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sport].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sport]
GO
/****** Object:  Table [dbo].[Абонемент]    Script Date: 14.06.2022 12:54:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Абонемент](
	[КодАбонемента] [int] NOT NULL,
	[Название] [varchar](50) NULL,
	[Длительность] [int] NULL,
	[Цена] [int] NULL,
	[КодПосещаемости] [int] NULL,
 CONSTRAINT [PK_Абонемент] PRIMARY KEY CLUSTERED 
(
	[КодАбонемента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Авторизация]    Script Date: 14.06.2022 12:54:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Авторизация](
	[КодПользователя] [int] IDENTITY(1,1) NOT NULL,
	[Логин] [varchar](100) NULL,
	[Пароль] [varchar](100) NULL,
	[КодРаботника] [int] NOT NULL,
 CONSTRAINT [PK_Авторизация] PRIMARY KEY CLUSTERED 
(
	[КодПользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Должности]    Script Date: 14.06.2022 12:54:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должности](
	[КодДолжности] [int] NOT NULL,
	[Должность] [varchar](50) NULL,
 CONSTRAINT [PK_Должности] PRIMARY KEY CLUSTERED 
(
	[КодДолжности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиент]    Script Date: 14.06.2022 12:54:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиент](
	[КодКлиента] [int] NOT NULL,
	[КодСотрудника] [int] NOT NULL,
	[КодСтатуса] [int] NULL,
	[ФИО] [varchar](200) NULL,
	[ДатаРождения] [date] NULL,
	[КодАбонемента] [int] NULL,
 CONSTRAINT [PK_Клиент] PRIMARY KEY CLUSTERED 
(
	[КодКлиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Посещаемость]    Script Date: 14.06.2022 12:54:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Посещаемость](
	[КодПосещаемости] [int] NOT NULL,
	[КолВоПосещений] [int] NULL,
 CONSTRAINT [PK_Посещаемость] PRIMARY KEY CLUSTERED 
(
	[КодПосещаемости] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 14.06.2022 12:54:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[КодСотрудника] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [varchar](200) NULL,
	[КодДолжность] [int] NULL,
	[Статус] [varchar](50) NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[КодСотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус]    Script Date: 14.06.2022 12:54:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус](
	[КодСтатуса] [int] NOT NULL,
	[Статус] [varchar](50) NULL,
 CONSTRAINT [PK_Статус] PRIMARY KEY CLUSTERED 
(
	[КодСтатуса] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тренировка]    Script Date: 14.06.2022 12:54:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тренировка](
	[КодТренировки] [int] NOT NULL,
	[КодУслуги] [int] NULL,
	[КодКлиента] [int] NULL,
	[Дата] [date] NULL,
	[Количество] [int] NULL,
 CONSTRAINT [PK_Тренировка] PRIMARY KEY CLUSTERED 
(
	[КодТренировки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 14.06.2022 12:54:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[КодУслуги] [int] NOT NULL,
	[Название] [varchar](50) NULL,
	[КодСотрудника] [int] NULL,
 CONSTRAINT [PK_Услуги] PRIMARY KEY CLUSTERED 
(
	[КодУслуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Авторизация] ON 

INSERT [dbo].[Авторизация] ([КодПользователя], [Логин], [Пароль], [КодРаботника]) VALUES (1, N'admin', N'admin', 1)
INSERT [dbo].[Авторизация] ([КодПользователя], [Логин], [Пароль], [КодРаботника]) VALUES (2, N'vlad', N'vlad', 5)
INSERT [dbo].[Авторизация] ([КодПользователя], [Логин], [Пароль], [КодРаботника]) VALUES (3, N'igor', N'igor', 6)
SET IDENTITY_INSERT [dbo].[Авторизация] OFF
GO
INSERT [dbo].[Должности] ([КодДолжности], [Должность]) VALUES (1, N'Администратор')
INSERT [dbo].[Должности] ([КодДолжности], [Должность]) VALUES (2, N'Менеджер')
GO
SET IDENTITY_INSERT [dbo].[Сотрудники] ON 

INSERT [dbo].[Сотрудники] ([КодСотрудника], [ФИО], [КодДолжность], [Статус]) VALUES (1, N'Иванов Иван Иванович', 1, N'Штатный')
INSERT [dbo].[Сотрудники] ([КодСотрудника], [ФИО], [КодДолжность], [Статус]) VALUES (5, N'Vlados', 2, N'Штатный')
INSERT [dbo].[Сотрудники] ([КодСотрудника], [ФИО], [КодДолжность], [Статус]) VALUES (6, N'Большаков Игорь Алексеевич', 2, N'Штатный')
SET IDENTITY_INSERT [dbo].[Сотрудники] OFF
GO
ALTER TABLE [dbo].[Абонемент]  WITH CHECK ADD  CONSTRAINT [FK_Абонемент_Посещаемость] FOREIGN KEY([КодПосещаемости])
REFERENCES [dbo].[Посещаемость] ([КодПосещаемости])
GO
ALTER TABLE [dbo].[Абонемент] CHECK CONSTRAINT [FK_Абонемент_Посещаемость]
GO
ALTER TABLE [dbo].[Авторизация]  WITH CHECK ADD  CONSTRAINT [FK_Авторизация_Сотрудники] FOREIGN KEY([КодРаботника])
REFERENCES [dbo].[Сотрудники] ([КодСотрудника])
GO
ALTER TABLE [dbo].[Авторизация] CHECK CONSTRAINT [FK_Авторизация_Сотрудники]
GO
ALTER TABLE [dbo].[Клиент]  WITH CHECK ADD  CONSTRAINT [FK_Клиент_Абонемент] FOREIGN KEY([КодАбонемента])
REFERENCES [dbo].[Абонемент] ([КодАбонемента])
GO
ALTER TABLE [dbo].[Клиент] CHECK CONSTRAINT [FK_Клиент_Абонемент]
GO
ALTER TABLE [dbo].[Клиент]  WITH CHECK ADD  CONSTRAINT [FK_Клиент_Сотрудники] FOREIGN KEY([КодСотрудника])
REFERENCES [dbo].[Сотрудники] ([КодСотрудника])
GO
ALTER TABLE [dbo].[Клиент] CHECK CONSTRAINT [FK_Клиент_Сотрудники]
GO
ALTER TABLE [dbo].[Клиент]  WITH CHECK ADD  CONSTRAINT [FK_Клиент_Статус] FOREIGN KEY([КодСтатуса])
REFERENCES [dbo].[Статус] ([КодСтатуса])
GO
ALTER TABLE [dbo].[Клиент] CHECK CONSTRAINT [FK_Клиент_Статус]
GO
ALTER TABLE [dbo].[Сотрудники]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники_Должности] FOREIGN KEY([КодДолжность])
REFERENCES [dbo].[Должности] ([КодДолжности])
GO
ALTER TABLE [dbo].[Сотрудники] CHECK CONSTRAINT [FK_Сотрудники_Должности]
GO
ALTER TABLE [dbo].[Тренировка]  WITH CHECK ADD  CONSTRAINT [FK_Тренировка_Клиент] FOREIGN KEY([КодКлиента])
REFERENCES [dbo].[Клиент] ([КодКлиента])
GO
ALTER TABLE [dbo].[Тренировка] CHECK CONSTRAINT [FK_Тренировка_Клиент]
GO
ALTER TABLE [dbo].[Тренировка]  WITH CHECK ADD  CONSTRAINT [FK_Тренировка_Услуги] FOREIGN KEY([КодУслуги])
REFERENCES [dbo].[Услуги] ([КодУслуги])
GO
ALTER TABLE [dbo].[Тренировка] CHECK CONSTRAINT [FK_Тренировка_Услуги]
GO
USE [master]
GO
